/* dashboard.css */
body {
  background: rgb(240, 237, 237) !important;
}


#wrapper {
  display: block;
}

#sidebar-wrapper {
  padding: 10px 20px;
  width: 250px;
  min-height: 100vh;
}

#page-content-wrapper {
  flex: 1;
  background-color: #f8f9fa;
}

.card h3 {
  font-size: 1.5rem;
  margin-top: 5px;
}

.nav-link {
  padding: 10px 15px;
  color: white;
}

.nav-link:hover {
  background-color: #343a40;
  color: #fff;
}

ul.collapse li a {
  padding-left: 30px;
  font-size: 14px;
}

.nav-tabs .nav-link {
  color: #333 !important; /* warna teks tab yang gak aktif */
}

.nav-tabs .nav-link.active {
  color: #000 !important; /* warna teks tab yang aktif */
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}


